ENV=production
PORT=3000
APP_NAME=obsrv-web-console
PROMETHEUS_URL=http://localhost:9090
CONFIG_API_URL=http://config-service-ext-service.config-service-ext-local:3000
OBS_API_URL=http://obsrv-api-service-service.obsrv-api-service-local:3000
SYSTEM_API_URL=http://command-api-service.command-service:8000

